<body>
  <main>

        <div class='col-md-8 offset-md-1'>
      		<h2>商品詳細</h2>
      		<table class='table'>
      		<tr>
      		  <td><%= @item.name %></td>
      		  <td><%= @item.introduction %></td>
      		  <td><%= @item.introduction %></td>
      		  <td><%= @item.introduction %></td>
      		</tr>
      		</table>
        </div>
      </div>
    </div>
  </main>
</body>

